@model WebApplicationDemo.Models.Employee2

@{
    ViewData["Title"] = "Employee Details";
}

<h1>Employee Details</h1>

<hr />
<div>
    <p><strong>Id:</strong> @Model.Id</p>
    <p><strong>Name:</strong> @Model.Name</p>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>Age:</strong> @Model.Age</p>
    <p><strong>Department:</strong> @Model.Dept</p>
    <p><strong>Salary:</strong> @Model.Salary</p>
</div>
