
@{
    ViewData["Title"] = "List";
}

<h1>Employee List</h1>

<h2>
    @ViewData["message"]
</h2>


<div>
    <ol>
        @foreach (string s in (IEnumerable<string>)ViewData["names"])
        {
            <li>
                @s
            </li>
        }
    </ol>
</div>

<div>
    <table class="table table-bordered">

        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Dept</th>
            <th>Salary</th>
        </tr>

        @foreach (EmployeeDetails e in (IEnumerable<EmployeeDetails>)ViewData["emp"])
        {
            <tr>
                <td>@e.Id</td>
                <td>@e.Name</td>
                <td>@e.Dept</td>
                <td>@e.Salary</td>


            </tr>
        }
    </table>

</div>

